* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #0c87ff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.block {
	display: flex;
	flex-direction: column;
	background: #fff;
	border-radius: 20px;
	padding: 20px;
	width: 500px;
}
.block h2 {
	border-left: 5px solid #e91e63;
}
.block p {
	margin-bottom: 20px;
}
.box {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 20px 0px;

}
.box input {
	width: 100%;
	border: 1px solid #fff;
	outline: none;
}
.box textarea {
	width: 100%;
	border: 1px solid #fff;
	outline: none;
}
button {
	margin: 20px 0px;
	width: 100%;
	padding: 10px;
	border-radius: 2px;
	border: 0;
	background-color: #ccc;
	color: #fff;
}
.placeholder {
	position: absolute;
	top: 1px;
	left: 1px;
	display: inline-block;
	padding: 10px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0);
	transition: 0.5s;
	pointer-events: none;
}
.error {
	color: red;
	text-align: left;
	font-size: 12px;
	margin-top: 5px;
	display: none;
}
.box input:focus ~ .placeholder {
	font-size: 12px;
	color: #747474;
	transform: translateX(-10px) translateY(-32px);
}
.box textarea:focus ~ .placeholder {
	font-size: 12px;
	color: #747474;
	transform: translateX(-10px) translateY(-32px);
}
.box input:focus:placeholder-shown  ~ .placeholder {
	color: rgba(0, 0, 0, 0);
}
.box textarea:focus:placeholder-shown  ~ .placeholder {
	color: rgba(0, 0, 0, 0);
}
.box input:valid:not(:placeholder-shown) {
  border-color: green;
}
.box input:invalid:not(:placeholder-shown) {
  border-color: red;
}
.box textarea:valid:not(:placeholder-shown) {
  border-color: green;
}
.box textarea:invalid:not(:placeholder-shown) {
  border-color: red;
}
.box input:invalid:not(:placeholder-shown) ~ .error{
  display: block;
}
.box textarea:invalid:not(:placeholder-shown) ~ .error {
  display: block;
}
#form_box:valid button[type="submit"] {
	background: green;
}
#form_box:invalid button[type="submit"] {
	background: red;
}
